---
import Layout from "@/layouts/Layout.astro";
import Error from "@/sections/Error.astro";

export const prerender = true;
---

<Layout
    description="Web Oficial del Club Técnico Universitario de Ambato"
    title="Página no encontrada - Técnico Universitario"
>
    <main>
        <Error
            error="404"
            message="Página no encontrada"
            contextMessage="¡Hola! Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la dirección URL sea correcta."
        />
    </main>
</Layout>
