---

---

<footer
    class="relative text-white mt-20 flex w-full flex-col place-items-center pb-20 pt-14 md:flex-col text-center md:pt-16"
>
    <hr
        class="absolute top-0 h-[2px] w-full min-w-[18rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-red-500 to-transparent bg-center md:my-9"
    />
    <p>
        &copy; 2025 <a href="/" class="text-white">Técnico Universitario</a>.
        Derechos reservados.
    </p>

    <hr
        aria-hidden="true"
        class="my-12 h-[2px] w-full min-w-[18rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-red-500 to-transparent bg-center md:hidden"
    />

    <p>
        Diseñado por <a
            href="https://github.com/arielptiban"
            class="text-white
        hover:underline">Ariel Tibán</a
        >.
    </p>
</footer>
