---

---

<section>
    <video
        class="object-center object-cover h-full w-full blur-[1px]"
        autoplay
        muted
        loop
        src="/src/assets/video-hero.mp4"></video>
</section>
