---
import Escudo from "@/components/Escudo.astro";

const { error, message, contextMessage } = Astro.props;
---

<section
    class="m-auto flex w-full flex-wrap place-items-center items-center justify-center text-primary"
>
    <a href="/">
        <Escudo
            class="m-5 h-auto w-[300px] overflow-visible text-primary animate-duration-0 md:w-[500px]"
            id="hero-logo-error"
        />
    </a>
    <!-- <div class="m-5 mt-16 text-center">
        <h1 class="mb-10 font-bold font-hey">
            error {error}
        </h1>

        <h2 class="text-black">
            <p>{message}</p>
        </h2>
        <p class="mt-5 max-w-80 text-xl">{contextMessage}</p>

        <a
            href="/"
            class="mt-7 text-center"
            aria-label="volver a la página principal"
        >
            Ir al inicio
        </a>
    </div> -->
</section>
