---

---

<section class="py-20">
    <!-- Proximo partido -->
    <div class="flex flex-col items-center justify-center text-white">
        <div
            class="bg-red-600 text-center px-4 py-2 text-sm font-bold uppercase tracking-wide rounded mb-6"
        >
            Próximo partido
        </div>

        <div
            class="flex flex-col md:flex-row md:items-center md:space-x-8 space-y-4 md:space-y-0"
        >
            <img
                src="/src/assets/escudo.svg"
                alt="Atleticos FC"
                class="h-20 mx-auto"
            />

            <div class="text-center space-y-1">
                <div
                    class="text-2xl font-bold sm:flex space-x-4 justify-center"
                >
                    <span class="uppercase">Técnico U.</span>
                    <div class="flex space-x-2 items-center justify-center">
                        <span class="block w-4 h-1 bg-white"></span>
                        <span>:</span>
                        <span class="block w-4 h-1 bg-white"></span>
                    </div>
                    <span class="uppercase">Independiente</span>
                </div>
            </div>

            <!-- Right Logo -->
            <img
                src="/src/assets/escudo.svg"
                alt="Ailton FC"
                class="h-20 mx-auto"
            />
        </div>

        <div class="text-center mt-4">
            <p class="text-sm uppercase">
                Feb 6, 2025, Estadio Indoamerica Bellavista
            </p>
            <p class="text-2xl font-bold mt-2">2:51 pm</p>
        </div>

        <a
            class="text-white text-sm font-medium border-[3px] border-white rounded bg-white/5 backdrop-blur-sm px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors mt-6"
            href="#"
        >
            Adquiere tus entradas
        </a>
    </div>
</section>

<style>
    section {
        background-image: url("/img/match-bg.webp");
        background-size: cover;
        background-position: center;
    }
</style>
