---
import LiteYouTube from "@/components/LiteYoutube.astro";
---

<section class="bg-black text-white px-4 py-12 overflow-hidden">
    <div class="text-center mb-8">
        <p class="text-red-600 font-bold uppercase text-lg">highlights</p>
        <h2 class="text-3xl text-white font-extrabold uppercase">
            Revive nuestro último partido
        </h2>
    </div>

    <div class="relative mt-8">
        <LiteYouTube
            videoId="CmUowNCmZLo"
            backgroundImage={`/img/background-video.webp`}
            title="Reproducir el evento de La Velada del Año IV desde el Santiago Bernabéu"
        />
    </div>
</section>
